#map{
    height: 100%;
    width: 80%;
}

#driver-div{
    width: 20vw;
}

#main{
    height: 92vh;
}

#top{
    height: 3vh;
}

#bottom-menu{
    height: 20vh;
}

#request-add{
    width: 64px;
    height: 64px;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    z-index: 99999;
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding-top: 12px;
}