{% if drivers_form.kierowcy.field.queryset %}
<ul id="id_drivers">
    {% for instance in drivers_form.kierowcy.field.queryset %}
    <li><label for="id_kierowcy_{{ forloop.counter0 }}">
        <input type="radio" name="kierowcy" value="{{ instance.idKierowcy }}"
               required="" id="id_kierowcy_{{ forloop.counter0 }}">
        {{ instance }} {{ instance.get_status }}
    </label></li>
    {% endfor %}
</ul><p></p>
    <table>
</table>
{% else %}
<div class="mt-2 fst-italic">Brak dostępnych kierowców w sieci, spróbuj później.</div>
{% endif %}