{% load static i18n %}
<html>
<head>
    <title>IO Projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body class="text-white bg-dark">
    <div id="top" class="text-end mx-2">
        {% if dyspozytor %}
            <span>Zalogowano jako: {{ dyspozytor }}</span>
        {% else %}
            <span>Zalogowano jako: anonimowy dyspozytor</span>
        {% endif %}
    </div>
    <div class="d-flex text-center" id="main">
        <div id="map">
            <div id="request-add">
                Dodaj zgłoszenie
            </div>
        </div>
        <div class="p-1 m-3 border border-white w-20" id="driver-div">
            <h1>Lista kierowców</h1>
            <div id="drivers-list">
                Ładowanie...
            </div>
        </div>
    </div>
<!--    <div class="p-1 m-3 border border-white w-20" id="bottom-menu">-->
<!--        <h3>Menu</h3>-->
<!--        <form id="mainForm">-->
<!--            {{ form.as_p }}-->
<!--        </form>-->
<!--        <button id="cleanForm" class="btn btn-light">Wyczyść</button>-->
<!--        <button type="submit" class="btn btn-light">Potwierdź</button>-->
<!--    </div>-->
    <div class="modal fade text-black" id="menuDyspozytora" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="taxiForm" action="{% url 'taxi:index' %}">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nowe zlecenie</h4>
          </div>
          <div class="modal-body">
                {{ form.as_p }}
          </div>
          <div class="modal-body">
                <div class="text-center">
                    Lista kierowców do wyboru:
                </div>
                <div id="drivers-form"></div>
          </div>
          <div class="modal-footer">
            <button
                    class="btn btn-outline-secondary btn-sm" type="submit" data-dismiss="modal">
              Zatwierdź
            </button>
          </div>
        </div>
            </form>
      </div>
        </div>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
  <script>
  let staticIcon = new L.Icon({
        iconUrl: '{% static "images/marker-icon.png" %}',
        iconAnchor: [12, 40],
        popupAnchor: [0, -24],
    })

    const addMarker = (pos, text) => {
        L.marker(pos, {icon: staticIcon}).addTo(map)
            .bindPopup(text).openPopup();
    }

    const setFormPos = (lat, long) => {
      $('#id_lat').val(lat);
      $('#id_long').val(long);
    }

    // Remove hidden input id_drivers (workaround for validation:
    $('#id_drivers').remove();

    $(document).ready(() => {
        let map = L.map('map').setView([53.770, 20.490], 13);

        map.on('click', (e) => {
            if($('#request-add:hover').length === 0){
                map.eachLayer((layer) => {
                    if(layer.options.hasOwnProperty('icon')) map.removeLayer(layer);
                });
                new L.marker(e.latlng, {icon: staticIcon}).addTo(map);
                setFormPos(e.latlng['lat'], e.latlng['lng']);
            }
        })

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const setPosition = (position) => {
            let latLong = [position.coords.latitude, position.coords.longitude];
            map.setView(latLong);
            L.marker(latLong, {icon: staticIcon}).addTo(map).bindPopup(
                'Kontroluj pinezkę aby dodać cel dla kierowcy.').openPopup();
            setFormPos(
                position.coords.latitude,
                position.coords.longitude,
            );
        }

        const getPosition = (position) => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setPosition);
            }
        }
        getPosition();

        const checkDrivers = () => {
            $.ajax({
                type: 'POST',
                url: '{% url "taxi:load_drivers" %}',
                data: {},
                success: (response) => {
                    if(response['is_finished']) $('#drivers-list').html(response['html']);
                    setTimeout(() => checkDrivers(), 2500);
                }
            })
        }
        checkDrivers()

        $('#request-add').on('click', () => {
            $.ajax({
                type: 'POST',
                url: '{% url "taxi:load_available_drivers" %}',
                data: {},
                success: (response) => {
                    if(response['is_finished']) $('#drivers-form').html(response['html']);
                    setTimeout(() => checkDrivers(), 2500);
                }
            })
            $('#menuDyspozytora').modal('show');
        })

        $('#taxiForm').on('submit', (e) => {
            e.preventDefault();
            if(e.currentTarget.checkValidity()) {
                let formData = new FormData($(e.currentTarget)[0]);
                $.ajax({
                    type: 'POST',
                    headers: {
                        'X-CSRFTOKEN': Cookies.get('csrftoken'),
                    },
                    url: $(e.currentTarget).attr('action'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: (response) => {
                        if(response['is_finished']){
                            $('#menuDyspozytora').modal('hide');
                        } else {
                            let errorString = getErrorString(response['errors']);
                            $("#menuDyspozytora .modal-body:first").prepend(`
                                <div class="alert alert-z alert-danger alert-dismissible fade show text-center margin-bottom-1x">
                                <span class="alert-close" data-dismiss="alert"></span><i class="icon-ban"></i>&nbsp;&nbsp;
                                <strong>Uwaga:</strong>${errorString}</div>`);
                        }
                    },
                })
            } else e.currentTarget.reportValidity();
        })
    })
  </script>
</body>
</html>