{% load static i18n %}
<html>
<head>
    <title>IO Projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body class="text-white bg-dark">
    <div id="top" class="text-end mx-2">
        <span>Zalogowano jako: dyspozytor1</span>
    </div>
    <div class="d-flex text-center" id="main">
        <div id="map">
            <div id="request-add">
                Dodaj zgłoszenie
            </div>
        </div>
        <div class="p-1 m-3 border border-white w-20" id="driver-div">
            <h1>Lista kierowców</h1>
            <div id="drivers-list">
                Ładowanie...
            </div>
        </div>
    </div>
<!--    <div class="p-1 m-3 border border-white w-20" id="bottom-menu">-->
<!--        <h3>Menu</h3>-->
<!--        <form id="mainForm">-->
<!--            {{ form.as_p }}-->
<!--        </form>-->
<!--        <button id="cleanForm" class="btn btn-light">Wyczyść</button>-->
<!--        <button type="submit" class="btn btn-light">Potwierdź</button>-->
<!--    </div>-->
    <div class="modal fade text-black" id="menuDyspozytora" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="taxiForm" action="{% url 'taxi:index' %}">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nowe zlecenie</h4>
          </div>
          <div class="modal-body">
                {{ form.as_p }}
          </div>
          <div class="modal-body">
                <div class="text-center">
                    Lista kierowców do wyboru:
                </div>
                <div id="drivers-form"></div>
          </div>
          <div class="modal-footer">
<!--            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">-->
<!--              Zamknij-->
<!--            </button>-->
            <button
                    class="btn btn-outline-secondary btn-sm" type="submit" data-dismiss="modal">
              Zatwierdź
            </button>
          </div>
        </div>
            </form>
      </div>
        </div>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
  <script>
   const addMarker = (pos, text) => {
        let staticIcon = new L.Icon({
            iconUrl: '{% static "images/marker-icon.png" %}',
        })

        L.marker(pos, {icon: staticIcon}).addTo(map)
            .bindPopup(text).openPopup();
    }

    // Remove hidden input id_drivers (workaround for validation:
    $('#id_drivers').remove();

    $(document).ready(() => {
        let map = L.map('map').setView([53.770, 20.490], 13);

        let staticIcon = new L.Icon({
            iconUrl: '{% static "images/marker-icon.png" %}',
            iconAnchor: [12, 40],
        })

        map.on('click', (e) => {
            if($('#request-add:hover').length === 0){
                map.eachLayer((layer) => {
                    if(layer.options.hasOwnProperty('icon')) map.removeLayer(layer);
                });
                new L.marker(e.latlng, {icon: staticIcon}).addTo(map);
            }
        })

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([53.770, 20.490], {icon: staticIcon}).addTo(map)
            .bindPopup('Tutaj jesteś.').openPopup();

        const checkDrivers = () => {
            $.ajax({
                type: 'POST',
                url: '{% url "taxi:load_drivers" %}',
                data: {},
                success: (response) => {
                    if(response['is_finished']) $('#drivers-list').html(response['html']);
                    setTimeout(() => checkDrivers(), 2500);
                }
            })
        }
        checkDrivers()

        $('#request-add').on('click', () => {
            $.ajax({
                type: 'POST',
                url: '{% url "taxi:load_available_drivers" %}',
                data: {},
                success: (response) => {
                    if(response['is_finished']) $('#drivers-form').html(response['html']);
                    setTimeout(() => checkDrivers(), 2500);
                }
            })
            $('#menuDyspozytora').modal('show');
        })

        $('#taxiForm').on('submit', (e) => {
            e.preventDefault();
            if(e.currentTarget.checkValidity()) {
                let formData = new FormData($(e.currentTarget)[0]);
                $.ajax({
                    type: 'POST',
                    headers: {
                        'X-CSRFTOKEN': Cookies.get('csrftoken'),
                    },
                    url: $(e.currentTarget).attr('action'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: (response) => {
                        console.log(response);
                    },
                })
            } else e.currentTarget.reportValidity();
        })
    })
  </script>
</body>
</html>