{% load static i18n %}
<html>
<head>
    <title>IO Projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body class="text-white bg-dark">
    <div id="top" class="text-end mx-2">
        <span>Zalogowano jako: testowy użytkownik</span>
    </div>
    <div class="d-flex text-center" id="main">
        <div id="map"></div>
        <div class="p-1 m-3 border border-white w-20" id="driver-div">
            <h1>Lista kierowców</h1>
            <div id="drivers-list">
                Ładowanie...
            </div>
        </div>
    </div>
    <div class="p-1 m-3 border border-white w-20" id="bottom-menu">
        <h3>Menu</h3>
        <form id="mainForm">
            {{ form.as_p }}
        </form>
        <button id="cleanForm" class="btn btn-light">Wyczyść</button>
        <button type="submit" class="btn btn-light">Potwierdź</button>
    </div>
    <div class="modal fade" id="menuDyspozytora" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">...</h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'taxi:index' %}">
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">
              Zamknij
            </button>
            <button
                    class="btn btn-outline-secondary btn-sm" type="submit" data-dismiss="modal">
              Dodaj
            </button>
          </div>
        </div>
      </div>
        </div>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
  <script>
    $(document).ready(() => {
        let map = L.map('map').setView([53.770, 20.490], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        let staticIcon = new L.Icon({
            iconUrl: '{% static 'images/marker-icon.png' %}',
        })

        L.marker([53.770, 20.490], {icon: staticIcon}).addTo(map)
            .bindPopup('Fajny popup.')
            .openPopup();

        const checkDrivers = () => {
            $.ajax({
                type: 'POST',
                url: {% url 'taxi:load_drivers' %},
                data: {},
                success: (response) => {
                    if(response['is_finished']) $('#drivers-list').html(response['html']);
                    setTimeout(() => checkDrivers(), 2500);
                }
            })
        }
        checkDrivers()

        L.Routing.control({
            waypoints: [
                L.latLng(53.770, 20.490),
                L.latLng(53.770, 20.490),
            ],
            routeWhileDragging: true,
            geocoder: L.Control.Geocoder.nominatim()
        }).addTo(map);

        $('#cleanForm').on('click', () => {
            $('#mainForm')[0].reset()
        });
        {#$('#menuDyspozytora').modal('show');#}
    })
  </script>
</body>
</html>