{% load static i18n %}
<html>
<head>
    <title>IO Projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet-routing-machine.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <style>
        #map{
            width: 100%;
            height: calc(100% - 112px)
        }
    </style>
</head>
<body class="text-white bg-dark">
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Taxi (Inżyneria)</a>
    <input type="search" id="driver-search" placeholder="Określ lokalizację..." aria-label="search">
      <button id="search-confirm" class="btn btn-outline-success btn-sm" type="submit">Dalej</button>
  </div>
</nav>
    <div id="map"></div>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted" id="status-span">Brak celu...</span>
      </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet-routing-machine.js' %}"></script>
    <script type="text/javascript">
        let map = undefined;
        let firstRun = true;
        let searchTries = 0;

        let staticIcon = new L.Icon({
            iconUrl: '{% static "images/marker-icon.png" %}',
            iconAnchor: [12, 40],
            popupAnchor: [0, -24],
        })

        const addMarker = (pos, text) => {
            let marker = L.marker(pos, {icon: staticIcon}).addTo(map);
            if(typeof text !== 'undefined') marker.bindPopup(text).openPopup()
        }

        const setPosition = (position) => {
            let latLong = [position.coords.latitude, position.coords.longitude];
            map.setView(latLong, 13);
            if(firstRun){
                addMarker(latLong, 'Jesteś tutaj');
                firstRun = false;
            }
            else addMarker(latLong)
            setTimeout(() => getPosition(), 2500);
        }

        const getPosition = (position) => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setPosition);
            }
        }

        const searchDriver = () => {
            $.ajax({
                type: 'POST',
                url: '{% url "taxi:load_drivers" %}',
                data: {'driver': $('#driver-search').val()},
                success: (response) => {
                    if(response['is_finished'] || searchTries < 5){
                        $('#status-span').text(response['status']);
                        searchTries = 0;
                    } else {
                        setTimeout(() => searchDriver(), 2000);
                        searchTries += 1;
                    }
                },
            })
        }

        const sendStatus = () => {
            $.ajax({
                type: 'POST',
                url: '{% url "mobile:add_to_state" %}',
                data: {'driverId': {{ current_driver }}},
                success: (response) => {
                    if(response['is_finished']) setTimeout(() => sendStatus(), 2500);
                }
            })
        }
        sendStatus()

        $(document).ready(() => {
            let defaultPos = [42.770, 20.490] // default position for Olsztyn city.
            map = L.map('map').setView(defaultPos, 13);
            L.Routing.control({
              waypoints: [
                L.latLng(53.77370945103288, 20.477190825235354),
                L.latLng(53.74444422862744, 20.455743130722073)
              ],
              createMarker: function(i, wp, nWps){
                  if (i === 0 || i === nWps - 1) {
                      return L.marker(wp.latLng, {icon: staticIcon });
                  } else {
                      return L.marker(wp.latLng, {icon: staticIcon });
                  }
              }
            }).addTo(map);
            $('.leaflet-routing-container').hide();
            getPosition();

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            $('#search-confirm').on('click', (e) => {
                $('#status-span').text('Szukanie dla podanej lokalizacji...');
                $.ajax({
                    type: 'POST',
                    url: '{% url "taxi:load_drivers" %}',
                    data: {'driver': $('#driver-search').val()},
                    success: (response) => {
                        $('#status-span').text(response['status']);
                    },
                })
            });
        });
    </script>
</body>
</html>