{% load static i18n %}
<html>
<head>
    <title>IO Projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <style>
        #map{
            width: 100%;
            height: calc(100% - 112px)
        }
    </style>
</head>
<body class="text-white bg-dark">
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Projekt IO</a>
    <input type="search" placeholder="Określ lokalizację..." aria-label="search">
      <button class="btn btn-outline-success btn-sm" type="submit">Dalej</button>
  </div>
</nav>
    <div id="map"></div>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Aktualny cel...</span>
      </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script type="text/javascript">
        let map = undefined;
        let firstRun = true;

        const addMarker = (pos, text) => {
            let staticIcon = new L.Icon({
                iconUrl: '{% static "images/marker-icon.png" %}',
            })

            let marker = L.marker(pos, {icon: staticIcon}).addTo(map);
            if(typeof text !== 'undefined') marker.bindPopup(text).openPopup()
        }

        const setPosition = (position) => {
            let latLong = [position.coords.latitude, position.coords.longitude];
            map.setView(latLong, 13);
            if(firstRun){
                addMarker(latLong, 'Jesteś tutaj');
                firstRun = false;
            }
            else addMarker(latLong)
            setTimeout(() => getPosition(), 2500);
        }

        const getPosition = (position) => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setPosition);
            }
        }

        $(document).ready(() => {
            let defaultPos = [53.770, 20.490] // default position for Olsztyn city.
            map = L.map('map').setView(defaultPos, 13);
            getPosition();

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        });
    </script>
</body>
</html>